.example-table-container {
	font-family: 'Arial', sans-serif;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  button {
	margin-bottom: 20px;
  }
  
  .mat-table {
	max-width: 100%;
	overflow: auto;
	margin-bottom: 20px;
  }
  
  .mat-header-cell, .mat-cell {
	padding: 10px 26px;
	text-align: left;
  }
  
  .mat-row:hover {
	background-color: #f5f5f5;
	cursor: pointer;
  }
  
  .mat-header-cell {
	background-color: #3f51b5;
	color: #fff;
  }
  
  .pointer {
	cursor: pointer;
  }
  