<div class="example-table-container">
	<button mat-raised-button color="primary" (click)="object()">New Object</button>
	
	<mat-table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<ng-container matColumnDef="address">
			<mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
			<mat-cell *matCellDef="let i = index" class="pointer"  (click)="object(objects[i].address)">{{objects[i].address}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="type">
			<mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
			<mat-cell *matCellDef="let i = index">{{objects[i].type}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="rooms">
			<mat-header-cell *matHeaderCellDef>Rooms</mat-header-cell>
			<mat-cell *matCellDef="let i = index">{{objects[i].scheme.rooms.length}}</mat-cell>
		</ng-container>

		<ng-container matColumnDef="area">
			<mat-header-cell *matHeaderCellDef>Area</mat-header-cell>
			<mat-cell *matCellDef="let i = index">{{areas[i]}}</mat-cell>
		</ng-container>
		
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>
