<mat-card>
	<mat-card-content>
		<div>
			<mat-form-field>
				<input [type]="showOldPassword ? 'text' : 'password'" required matInput placeholder="Old Password"
					[(ngModel)]="oldPassword">
				<mat-icon matSuffix (click)="toggleOldPasswordVisibility()">
					{{showOldPassword?'visibility_off':'visibility'}}
				</mat-icon>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<input [type]="showNewPassword ? 'text' : 'password'" required matInput
					placeholder="New Password" [(ngModel)]="newPassword">
				<mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
					{{showNewPassword?'visibility_off':'visibility'}}
				</mat-icon>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<input [type]="showConfirmPassword ? 'text' : 'password'" required matInput
					placeholder="Confirm New Password" [(ngModel)]="confirmPassword">
				<mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
					{{showConfirmPassword?'visibility_off':'visibility'}}
				</mat-icon>
			</mat-form-field>
		</div>
		<button (click)="submit()" mat-button>Submit</button>
	</mat-card-content>
</mat-card>