<div *ngIf="user" id="main">
	<mat-card>
		<mat-card-title>{{user.username}}</mat-card-title>
		
		<mat-form-field *ngIf="logged.role == 'Admin' && user.username != logged.username">
			<mat-select [(value)]="user.status">
				<mat-option value="Approved">Approved</mat-option>
				<mat-option value="Rejected">Rejected</mat-option>
				<mat-option style="display: none" value="Pending">Pending</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-card>

	<div style="display: flex">
		<mat-card style="flex: 1">
			<mat-card-title>About</mat-card-title>
			<div>
				<mat-form-field>
					<input type="tel" [readonly]="user.username != logged.username && logged.role != 'Admin'" matInput placeholder="Phone" [(ngModel)]="user.phone">
				</mat-form-field>
				<mat-form-field>
					<input type="email" [readonly]="user.username != logged.username && logged.role != 'Admin'" matInput placeholder="Email" [(ngModel)]="user.email">
				</mat-form-field>
			</div>
			
			<div *ngIf="user.role == 'Agency'">
				<div>
					<mat-form-field>
						<input type="text" [readonly]="user.username != logged.username && logged.role != 'Admin'" matInput placeholder="Agency Name" [(ngModel)]="user.name">
					</mat-form-field>
					<mat-form-field>
						<input type="text" [readonly]="user.username != logged.username && logged.role != 'Admin'" matInput placeholder="Identification" [(ngModel)]="user.identification">
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<input type="text" [readonly]="user.username != logged.username && logged.role != 'Admin'"matInput placeholder="Address" [(ngModel)]="user.address">
					</mat-form-field>
				</div>

				<div>
					<mat-form-field>
						<input type="text" [readonly]="user.username != logged.username && logged.role != 'Admin'"matInput placeholder="Description" [(ngModel)]="user.description">
					</mat-form-field>
				</div>
			</div>
			<div *ngIf="user.role == 'Client'">
				<div>
					<mat-form-field>
						<input type="text" [readonly]="user.username != logged.username && logged.role != 'Admin'" matInput placeholder="First Name" [(ngModel)]="user.firstname">
					</mat-form-field>
					<mat-form-field>
						<input type="text" [readonly]="user.username != logged.username && logged.role != 'Admin'" matInput placeholder="Last Name" [(ngModel)]="user.lastname">
					</mat-form-field>
				</div>
			</div>
		</mat-card>
		<mat-card *ngIf="user.role == 'Agency'">
			<mat-card-title>Reviews</mat-card-title>
			<div *ngFor="let review of user.ratings">
				<div>
					<div [ngStyle]="{'background-color': (review.positive) ? '#32a852' : '#a83242'}">
						<p *ngIf="logged">{{review.username}}</p>
					</div>
					<div>
						<p>{{review.comment}}</p>
					</div>
				</div>
			</div>
			<div *ngIf="canReview">
				<mat-slide-toggle [(ngModel)]="positive">Positive</mat-slide-toggle>
				<mat-form-field>
					<input type="text" matInput placeholder="Comment" [(ngModel)]="comment">
				</mat-form-field>
				<button mat-raised-button color="primary" (click)="upsertReview()">Submit</button>
				<button mat-raised-button color="warn" (click)="removeReview()">Delete</button>
			</div>
		</mat-card>
	</div>
	<div>
		<button *ngIf="user.username == logged.username || logged.role == 'Admin'" mat-raised-button color="primary" (click)="updateUser()">Save Changes</button>
		<button *ngIf="logged.role == 'Admin' && user.username != logged.username" mat-raised-button color="warn" (click)="deleteUser()">Delete Account</button>
		<button *ngIf="user.username == logged.username" mat-raised-button color="accent" (click)="changePassword()">Change Password</button>
		<button *ngIf="logged.role == 'Client' && user.role == 'Agency'" mat-raised-button color="accent" (click)="hire()">Hire</button>
	</div>
</div>