.table-container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.mat-select {
    margin-bottom: 1rem;
	width: 200px;
}

.mat-table {
    width: 100%;
    border-collapse: collapse;
}

.mat-header-cell, .mat-cell {
    padding: 1rem;
    text-align: left;
}

.mat-header-cell {
    background-color: #f5f5f5;
    font-weight: 600;
}

.mat-row:nth-child(odd) {
    background-color: #fafafa;
}

.mat-cell:hover {
    background-color: #f0f0f0;
}

.pointer {
	cursor: pointer;
}