<mat-card>
	<mat-card-content>
		<p>
			<mat-form-field>
				<input type="email" required matInput placeholder="Email" [(ngModel)]="email">
			</mat-form-field>
			<mat-form-field>
				<input type="tel" required matInput placeholder="Phone" [(ngModel)]="phone">
			</mat-form-field>
		</p>
		<p>
			<mat-form-field>
				<input [type]="showPassword ? 'text' : 'password'" required matInput placeholder="Password"
					[(ngModel)]="password">
				<mat-icon matSuffix (click)="togglePasswordVisibility()">
					{{showPassword?'visibility_off':'visibility'}}
				</mat-icon>
			</mat-form-field>
			<mat-form-field>
				<input [type]="showConfirmPassword ? 'text' : 'password'" required matInput
					placeholder="Confirm Password" [(ngModel)]="confirmPassword">
				<mat-icon matSuffix (click)="toggleConfirmPasswordVisibility()">
					{{showConfirmPassword?'visibility_off':'visibility'}}
				</mat-icon>
			</mat-form-field>
		</p>
		<p>
			<mat-form-field>
				<input type="text" required matInput placeholder="Username" [(ngModel)]="username">
			</mat-form-field>

			<mat-slide-toggle [(ngModel)]="isAgency">Agency</mat-slide-toggle>
		</p>
		<div *ngIf="!isAgency">
			<p>
				<mat-form-field>
					<input type="text" required matInput placeholder="First Name" [(ngModel)]="firstName">
				</mat-form-field>
	
				<mat-form-field>
					<input type="text" required matInput placeholder="Last Name" [(ngModel)]="lastName">
				</mat-form-field>
			</p>
		</div>
		<div *ngIf="isAgency">
			<p>
				<mat-form-field>
					<input type="text" required matInput placeholder="Agency Name" [(ngModel)]="agency">
				</mat-form-field>
				<mat-form-field>
					<input type="text" required matInput placeholder="Agency ID" [(ngModel)]="identification">
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input type="text" required matInput placeholder="Address" [(ngModel)]="address">
				</mat-form-field>
			</p>
			<p>
				<mat-form-field>
					<input type="text" required matInput placeholder="Description" [(ngModel)]="description">
				</mat-form-field>
			</p>
		</div>

		<button (click)="submit()" mat-button>Submit</button>
	</mat-card-content>
</mat-card>