<mat-card class="login-card">
	<mat-card-title class="card-title">Login</mat-card-title>
	<mat-card-content class="card-content">
		<div class="input-field-container">
			<mat-form-field class="input-field">
				<input type="text" matInput placeholder="Username" [(ngModel)]="username" required>
			</mat-form-field>
		</div>
		<div class="input-field-container">
			<mat-form-field class="input-field">
				<input type="password" matInput placeholder="Password" [(ngModel)]="password" required>
			</mat-form-field>
		</div>

		<button (click)="submit()" mat-button class="login-button">Login</button>
	</mat-card-content>
</mat-card>
