<div>
	<div>
		<p>{{building.address}}</p>
		<p>{{building.status}}</p>
	</div>

	<div>
		<app-canvas-create [(scheme)]="building.scheme" [mode]="building.status == 'Active' ? user.role == 'Agency' && building.workers ? 'manage' : 'view' : 'none'" [error]="!building.workers && user.role == 'Agency' && !canAssign()"></app-canvas-create>
	</div>

	<div *ngIf="building.status == 'Requested' || building.status == 'Offered'">
		<mat-form-field>
			<input type="text" required matInput [readonly]="user.role != 'Agency' || building.status != 'Requested'" placeholder="Payment"
				[(ngModel)]="building.payment">
		</mat-form-field>
	</div>

	<div *ngIf="user.role == 'Agency'">
		<div *ngIf="building.status == 'Requested'">
			<button (click)="agencyAccept()" mat-button>Send Payment Offer</button>
			<button (click)="agencyReject()" mat-button>Reject</button>
		</div>

		<div *ngIf="building.status == 'Active'">
			<button *ngIf="!building.workers" (click)="assign()" mat-button>Assign Workers</button>
			<button *ngIf="building.workers" (click)="update()" mat-button>Update Progress</button>
		</div>
	</div>

	<div *ngIf="user.role == 'Client'">
		<div *ngIf="building.status == 'Offered'">
			<button (click)="clientAccept()" mat-button>Accept Payment Offer</button>
			<button (click)="clientReject()" mat-button>Reject</button>
		</div>

		<div *ngIf="complete">
			<button (click)="clientPay()" mat-button>Pay & Finalize</button>
		</div>
	</div>
</div>