<table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" name="username" [(ngModel)]="username">
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" name="password" [(ngModel)]="password"> 
        </td>
    </tr>
    <tr>
        <td >
            <button (click)="login()">LogIn</button>
        </td>
        <td >
            <button (click)="register()">Register</button>
        </td>
    </tr>
</table>
{{message}}
Click here to <a routerLink="/register">register.</a>
