<mat-select [(value)]="object">
	<mat-option  *ngFor="let object of objects" [value]="object.address">{{object.address}}</mat-option>
</mat-select>

<mat-form-field>
	<mat-label>Date Range</mat-label>
	<mat-date-range-input [rangePicker]="picker">
		<input [min]="min" matStartDate placeholder="Start Date" [value]="start.value">
		<input matEndDate placeholder="End Date" [value]="end.value">
	</mat-date-range-input>
	<mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
	<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<button mat-raised-button color="primary" (click)="submit()">Submit</button>