<mat-toolbar color="primary">
	<button mat-button (click)="home()"><mat-icon>home</mat-icon> Home</button>
	<div *ngIf="user">
		<button *ngIf="user.role == 'Admin'" mat-button (click)="manage()"><mat-icon>inbox</mat-icon> Manage</button>
		<button *ngIf="user.role == 'Client'" mat-button (click)="objects()"><mat-icon>store</mat-icon> Objects</button>
		<button *ngIf="user.role == 'Agency'" mat-button (click)="workers()"><mat-icon>directions_walk</mat-icon> Workers</button>
		<button *ngIf="user" mat-button (click)="jobs()"><mat-icon>work</mat-icon> Jobs</button>
	</div>

	<span class="spacer"></span>
	<div *ngIf="user">
		<button mat-button (click)="profile()"><img [src]="image" width="25px" height="25px" (error)="imageError()"> {{user.username}}</button>
		<button mat-button (click)="logout()"><mat-icon>person_outline</mat-icon> Sign-Out</button>
	</div>
	<div *ngIf="user == null">
		<button mat-button (click)="login()"><mat-icon>person</mat-icon> Sign-In</button>
		<button mat-button (click)="register()"><mat-icon>person_add</mat-icon> Sign-Up</button>
	</div>
</mat-toolbar>