<mat-toolbar color="primary">
	<button mat-button (click)="home()"><mat-icon>home</mat-icon> Home</button>
	<span class="spacer"></span>
	<div *ngIf="user">
		<button mat-button (click)="profile()"><mat-icon>person</mat-icon> {{user.username}}</button>
		<button *ngIf="user.role == 'Admin' || user.role == 'Organizator'" mat-button
			(click)="manage()"><mat-icon>inbox</mat-icon> Requests</button>
		<button mat-button (click)="logout()"><mat-icon>person_outline</mat-icon> Sign-Out</button>
	</div>
	<div *ngIf="user == null">
		<button mat-button (click)="login()"><mat-icon>person</mat-icon> Sign-In</button>
		<button mat-button (click)="register()"><mat-icon>person_add</mat-icon> Sign-Up</button>
	</div>
</mat-toolbar>