/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}



body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.footer {
    position: fixed;
    height: 56px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}