.example-table-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
	width: 250px;
	cursor: pointer;
}

.select-container {
    width: 200px;
}

.search-fields {
    display: flex;
    gap: 10px;
}

.input-field {
    width: 200px;
}

.example-table {
    width: 100%;
    border-collapse: collapse;
}

.header-row {
    background-color: #92c7ff;
    color: white;
}

.data-row:hover {
    background-color: #ddd;
}

.pointer {
	cursor: pointer;
}
