<div class="example-table-container">
	
	<mat-select [(value)]="request" *ngIf="requestFilter" (selectionChange)="applyFilter()">
		<mat-option value="---">---</mat-option>
		<mat-option value="registration">Registration Requests</mat-option>
		<mat-option value="worker">Worker Requests</mat-option>
	</mat-select>
	
	<div *ngIf="search">
		<mat-form-field>
			<input type="text" required matInput placeholder="Name" [(ngModel)]="searchName" (input)="applyFilter()">
		</mat-form-field>
		<mat-form-field>
			<input type="text" required matInput placeholder="Address" [(ngModel)]="searchAddress" (input)="applyFilter()">
		</mat-form-field>
	</div>
	
	<table mat-table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
		matSortDirection="desc" (matSortChange)="sortData($event)">

		<ng-container matColumnDef="image">
			<th mat-header-cell *matHeaderCellDef mat-sort-header></th>

			<td mat-cell *matCellDef="let i = index" (click)="profile(i)"><img width="50px" height="50px" [src]="fUsers[i].photo" (error)="imageError(i)"></td>
		</ng-container>
		
		<ng-container matColumnDef="username">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>

			<td mat-cell *matCellDef="let i = index" (click)="profile(i)">{{fUsers[i].username}}</td>
		</ng-container>

		<ng-container matColumnDef="password">
			<th mat-header-cell *matHeaderCellDef>Password</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].password}}</td>
		</ng-container>

		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].email}}</td>
		</ng-container>

		<ng-container matColumnDef="phone">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].phone}}</td>
		</ng-container>

		<ng-container matColumnDef="role">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].role}}</td>
		</ng-container>

		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].status}}</td>
		</ng-container>
		
		<ng-container matColumnDef="firstname">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].firstname}}</td>
		</ng-container>
		
		<ng-container matColumnDef="lastname">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].lastname}}</td>
		</ng-container>
		
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Agency</th>

			<td mat-cell *matCellDef="let i = index" (click)="profile(i)">{{fUsers[i].name}}</td>
		</ng-container>
		
		<ng-container matColumnDef="address">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].address}}</td>
		</ng-container>
		
		<ng-container matColumnDef="identification">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Identification</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].identification}}</td>
		</ng-container>
		
		<ng-container matColumnDef="description">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].description}}</td>
		</ng-container>
		
		<ng-container matColumnDef="allowed_workers">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Allowed Workers</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].allowed_workers}}</td>
		</ng-container>
		
		<ng-container matColumnDef="requested_workers">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Requested Workers</th>

			<td mat-cell *matCellDef="let i = index">{{fUsers[i].requested_workers}}</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>