<mat-select [(value)]="building.type">
	<mat-option value="Apartment">Apartment</mat-option>
	<mat-option value="House">House</mat-option>
</mat-select>

<mat-form-field>
	<input type="text" required matInput placeholder="Address" [(ngModel)]="building.address">
</mat-form-field>

<div>
	<app-canvas-create [(scheme)]="building.scheme" [mode]="building.status == 'Pending' ? 'draw' : 'none'"></app-canvas-create>
	<button *ngIf="building.status == 'Pending'" (click)="clear()" mat-button>Clear</button>
</div>


<button *ngIf="building.status == 'Pending'" (click)="submit()" mat-button>Submit</button>

<button *ngIf="building.status == 'Pending'" (click)="delete()" mat-button>Delete</button>

<button (click)="export()" mat-button>Export</button>

<input *ngIf="building.status == 'Pending'" type="file" (change)="onFileSelected($event)" >
